@font-face {
    font-family: oswald;
    src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0;
    padding: 0;
}

/* ---------------------------------- ARRIERE_PLAN_ACCUEIL ---------------------------------- */
header{
    background-image: url(img/h5-revolution-img-1.jpg);
    height: 100vh;
}

/* ---------------------------------- NAVBAR ---------------------------------- */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: oswald;
}

#navtitle{
    color: white;
    font-weight: bolder;
    font-size: 165%;
    display: flex;
    align-items: center;
    min-width: 136px;
}

#navbar{
    display: flex;
    font-size: larger;
}

nav ul li{
    list-style: none;
    color: white;
    padding: 15px;
}

#socialmedia{
    display: flex;
    font-size: larger;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color: gray;
}
/* ---------------------------------- IMAGE_ACCUEIL ---------------------------------- */

header figure{
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* ---------------------------------- BANDEAU D'ACCEUIL ---------------------------------- */

#bandeaucitation{
    background-color: rgb(180, 149, 91);
    display: flex;
    justify-content: center;
    color: white;
    font-family: oswald;
    font-size: 300%;
    font-weight: 200%;
}
